
.pagina-principal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.notif-btn {
    position: relative;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background: #ff4b5c;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}
.chat-contenedor {
    display: flex;
    flex-direction: row;
    height: 100%; 
    background-color: #f8f9fb;
    flex:1;
    position: relative;
}
.seccion-notificaciones {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 300px;
    max-height: 80vh;
    /*overflow-y: auto;*/
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    min-height: 50px;
}
.hide { display: none; }
.show { display: block; }

/*.chat-list {
    width: 30%;
    background: white;
    border-right: 1px solid #ddd;
    padding: 10px;
} */

.chat-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.chat-item:hover {
    background: #f0f0f0;
}

/*.message-section {
    flex: 1;
    padding: 20px;
} */

.message-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    background: #f4f6f9;
}