<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registrar Usuario</title>
</head>

<body>
    <h1>Chat</h1>
    <p id="status">Registrar Usuario</p>
    
    <form action="" id="formUsuario">
        <input type="text" id="nombre" placeholder="Nombre" required>
        <input type="text" id="apellido" placeholder="Apellido" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="contra" placeholder="Contra" required>
        <button type="submit">Guardar</button>
    </form>

    <script>
        const form = document.getElementById('formUsuario');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const nombre = document.getElementById('nombre').value;
            const apellido = document.getElementById('apellido').value;
            const email = document.getElementById('email').value;
            const contra = document.getElementById('contra').value;

            const respuesta = await fetch('/usuarios', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre, apellido, email, contra })
            });

            const data = await respuesta.json();
            console.log(data);
            alert('Usuario registrado con éxito');
        });
    </script>

    <a href="Principal.html">Ir a Chats</a>
</body>

</html>